/* Device = Most of the Smartphones Mobiles (Portrait) */
$screen-xxs-min: 320px;
$screen-xxs-max: 480px;

/* Device = Low Resolution Tablets, Mobiles (Landscape) */
$screen-xs-min: 481px;
$screen-xs-max: 767px;

/* Device = Tablets, Ipads (portrait) */
$screen-sm-min: 768px;
$screen-sm-max: 1024px;

/* Device = Laptops, Desktops */
$screen-md-min: 1025px;
$screen-md-max: 1280px;

/* Device = Desktops */
$screen-lg-min: 1281px;
$screen-lg-max: 1440px;

/* Higher Resolution Screens */
$screen-xlg-min: 1441px;
$screen-xlg-max: 2560px;

$font-family-playfair: 'Playfair Display', serif;

$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         200;
$font-weight-regular:       300;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;



$white: #fff;
$gray-100: #fafafa;
$gray-200: #F9F8FC;
$gray-300: #EDEDED;
$gray-400: #cbc8d0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #17141F;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #593196;
$pink: #e83e8c;
$red: #FC3939;
$orange: #fd7e14;
$yellow: #EFA31D;
$green: #13B955;
$teal: #20c997;
$cyan: #009CDC;
$primary: $purple;
$secondary: #A991D4;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: #2c3e50;
$enable-rounded: false;
$body-color: #798a9a;
$link-hover-color: $primary;
$font-size-base: 0.875rem;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-focus-border-color: $primary;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $primary;
$navbar-padding-y: 1.2rem;
$navbar-dark-hover-color: rgba($white,.9);
$navbar-dark-active-color: rgba($white,.9);
$navbar-light-color: rgba($black,.4);
$navbar-light-active-color: rgba($black,.7);
$navbar-light-disabled-color: rgba($black,.2);
$progress-bg: $gray-300;
$progress-bar-bg: $primary;
$list-group-bg: $gray-900;
$list-group-border-color: transparent;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-active-color: $white;
$list-group-active-bg: $list-group-bg;
$list-group-disabled-color: lighten($list-group-bg, 30%);